body {
    border: 2px solid blueviolet;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    margin: 10px;
}

#name {
    text-align: center;
    text-decoration: underline;
    color: rgb(99, 16, 177);

}


img {
    width: 320px;
    height: 320px;
    margin: 10px;
}

.info {
    background-color: rgb(24, 207, 64);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}